h2 {
  color: white;
}
.row {
  position: relative;
  top: 0px;
  right: 0;
  left: 100px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 12.5%;
  padding: 20px;
}

.button1 {
  position: relative;
  top: 20px;
  left: 0;
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  border-radius: 8px;
  align-content: center;
}
.button1:hover {
  background-color: black;
  border: 2px solid darkgreen;
  color: darkgreen;
  border: none;
}

.mains {
  position: absolute;
  top: 50px;
  right: 0;
  left: 100px;
  text-align: center;
}

.button1.cart {
  position: relative;
  top: -35px;
  left: 1250px;
  padding: 15px;
  border-radius: 10px;
  width: 10%;
}

.button1.payment {
  position: relative;
  top: -35px;
  left: 900px;
  padding: 15px;
  border-radius: 10px;
  width: 10%;
}
